@{
    ViewData["Title"] = "DP Home Page";
}

<header class="text-center jumbotron justify-content-center">
    <h1 class="display-4">CO453 Applications Programming</h1>
    <h2>by Derek Peacock</h2>
    <p>
        <a href="https://docs.microsoft.com/en-gb/aspnet/core/data/ef-mvc/?view=aspnetcore-5.0">
            Building Web Apps with ASP.NET Core MVC and EF Core
        </a>
    </p>
</header>
<section>
    <ol class="list-group">
        <li class="list-group-item">
            <a class="btn btn-success" asp-controller="Home"
               asp-action="DistanceConverter">App 01</a>
            Distance Converter
        </li>
        <li class="list-group-item">
            <a class="btn btn-info" asp-controller="Home"
               asp-action="BMICalculator">App 02</a>
            BMI Calculator
        </li>
        <li class="list-group-item">
            <a class="btn btn-warning" asp-controller="Students"
               asp-action="Index">App 03</a>
            Student Marks
        </li>
        <li class="list-group-item">
            <a class="btn btn-primary" asp-controller="Home"
               asp-action="PostBook">App 04</a>
            Social Networking
        </li>
    </ol>
</section>
