<header class="jumbotron">
    <h1>App04 Social Network</h1>
    <h2>By Derek Peacock</h2>
    <p>
        <a href="https://docs.microsoft.com/en-gb/aspnet/core/data/ef-mvc/?view=aspnetcore-5.0">
            Building Web Apps with ASP.NET Core MVC and EF Core
        </a>
        <a href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/inheritance?view=aspnetcore-5.0">
            Microsoft Tutorial: Implement Inheritance - ASP.NET MVC with EF Core
        </a>
    </p>
</header>
<section>
    <ol class="list-group">
        <li class="list-group-item">
            <a class="btn btn-success"
               asp-controller="MessagePosts" asp-action="Index">
                Add Message Post
            </a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-success"
               asp-controller="PhotoPosts" asp-action="Index">
                Add Photo Post
            </a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-info"
               asp-controller="Posts" asp-action="Index">
                List All Posts
            </a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-info"
               asp-controller="Posts" asp-action="Index">
                List All User Posts
            </a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-info"
               asp-controller="Posts" asp-action="Index">
                List All Posts by Date
            </a>
        </li>
    </ol>
</section>
