@model ConsoleAppProject.App02.BmiCalculator
@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Derek's BMI Health Weight Calculator</h1>
    <p>
        This app will calculate and display your body
        mass index value (BMI) and an appropriate
        health message.
    </p>
</div>
@if(ViewBag.Error != null)
{
    <p class="text-danger">
        @ViewBag.Error
    </p>
}
<form method="post">

    <h2>Height</h2>

    <div class="row">
        <div class="col input-group mb-3 w-25">
            <input class="form-control" type="number" value="6"
                   placeholder="Feet" asp-for="@Model.Feet" />
        </div>
        <div class="col input-group mb-3 w-25">
            <input class="form-control" type="number" value="0"
                   placeholder="Inches" asp-for="@Model.Inches" />
        </div>
    </div>
    <p>
        Please enter in feet and inches or centimetres as whole numbers
    </p>
    <div class="row">
        <div class="col-6 input-group mb-3">
            <input class="form-control" type="number"
                   placeholder="centimetres" asp-for="Centimetres" />
        </div>
    </div>

    <h2>Weight</h2>

    <div class="row">
        <div class="col input-group mb-3 w-25">
            <input class="form-control" type="number" value="11"
                   placeholder="Stones" asp-for="Stones" />
        </div>
        <div class="col input-group mb-3 w-25">
            <input class="form-control" type="number" value="6"
                   placeholder="Pounds" asp-for="Pounds" />
        </div>
    </div>
    <p>
        Please enter in stones and pounds or kilograms as whole numbers
    </p>
    <div class="row">
        <div class="col-6 input-group mb-3">
            <input class="form-control" type="number" value="0"
                   placeholder="kilograms" asp-for="Kilograms" />
        </div>
    </div>

    <button class="btn btn-success" type="submit">Calculate</button>

</form>

